#!/bin/sh
set -o errexit
set -o nounset
set -x
if /bin/setup-runtime-containerd /etc/containerd/config.toml; then
	/bin/echo "restarting containerd"
	/usr/bin/nsenter -t 1 -m -u -i -n -p -- /usr/bin/systemctl restart containerd
fi
